* {
    font-family: Arial;
}

header {
    background-color: #c0c0c0;
    width: 844px;
    height: 86px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0px;
}
.Introduction {
            font-style: italic;
            color: #003399;
        }


#PageWrapper {
    width: 844px;
    margin: auto;
}

nav {
    width: 844px;
}

section#MainContent {
    width: 664px;
    float: left;
}

    section#MainContent a {
        color: #4caa00;
        text-decoration: underline;
    }

    section#MainContent:visited {
        color: #FF0000;
        text-decoration: underline;
    }

    section#MainContent a:hover {
        color: #FFA500;
        text-decoration: underline;
    }

aside#Sidebar {
    background-color: gray;
    width: 180px;
    float: left;
}

footer {
    background-color: #C0C0C0;
    width: 844px;
    clear: both;
}
